From daemon Mon Jan  6 09:11:28 1997
Received: from lists.Princeton.EDU (root@lists.Princeton.EDU [128.112.129.249]) by alexandria.dartmouth.edu (8.7.6/8.7.3) with ESMTP id JAA25825 for <bobh@alexandria.Dartmouth.EDU>; Mon, 6 Jan 1997 09:11:25 -0500 (EST)
Received: from ponyexpress.Princeton.EDU ([128.112.129.131]) by lists.Princeton.EDU with ESMTP id <370182.s2-1>; Mon, 6 Jan 1997 09:08:18 -0500
Received: from tucson.Princeton.EDU (tucson.Princeton.EDU [128.112.131.153]) by ponyexpress.Princeton.EDU (8.6.12/8.6.12) with ESMTP id JAA28174 for <bobh@al.dartmouth.edu>; Mon, 6 Jan 1997 09:08:10 -0500
Received: (bobh@localhost) by tucson.Princeton.EDU (SMI-8.6/8.6.12) id JAA03821 for bobh@al.dartmouth.edu; Mon, 6 Jan 1997 09:08:10 -0500
Message-Id: <199701061408.JAA03821@tucson.Princeton.EDU>
From: bobh@phoenix.Princeton.EDU (Robert B. Hollander)
Date: 	 Mon, 6 Jan 1997 09:08:09 -0500
X-Mailer: Mail User's Shell (7.2.5 10/14/92)
To: bobh@alexandria.dartmouth.edu

|PURGATORIO CANTO 27~

	|1-5.  S@i come quando... sole~: This is a kind of
pseudo-simile since the actual position of the sun is as Dante
describes it, seen in the familiar global view which brings in
the four cardinal points on the earth by which the sun's course
is measured.  (See C. S. Singleton, ^Inferno Commentary~, Fig. 7,
p. 640.)  When it is sunrise in Jerusalem (vss. 1-2), it is
midnight in Spain (vs. 3), noon on the Ganges (vs. 4), and sunset
in Purgatory.  For similar statements, see ^Purg.~ II, 1-9; III,
25-27; IV, 137-139; IX, 7-9.

	|vibra~: "Sole," vs. 5, is the subject.

	|il suo fattor~: God, triune Creator of all things. 
The second person of the triune God, Christ, became flesh and
shed His blood for us.  On medieval maps of the world the figure
of Christ on the Cross often indicates Jerusalem, at the center
of the inhabited hemisphere of land.

	|cadendo Ibero... riarse~: These two verses represent a
type of ablative absolute construction.

	|Ibero~: The river Ebro (the ancient Iberus) in
Spain.  Dante uses the form "Ebro" in ^Par.~ IX, 89.    |sotto
l'alta Libra~: The river Ebro is said to fall under the Scales,
the constellation opposite Aries.  It is midnight at the Strait
of Gibraltar.

	|nona~: For this use of ^nona~ (literally, the ninth hour
of the day, or 3:00 P.M.) to mean "noon," i.e., when the sun is
on the meridian, cf. G. Villani (XI, 100), "essendo il sole al
meriggio, che noi volgarmente diciamo ora di nona" ("the sun
being at the meridian, which we call in common parlance the hour
of Nones"), and ^Conv.~ IV, xxiii, 15-16.  Grandgent notes that
"the sun, in Aries, is over eastern Asia, so that the waters of
the river Ganges are `scorched by noon.'" 	|riarse~:
^Riarse~ is the past participle of ^riardere~, the prefix ^ri-~
serving to intensify; ^essendo~ is understood as the auxiliary.

	|6.  come~ = ^quando.~ 		|l'angel di Dio~: As in
the other circles, an angel stands at this exit.

	|7.  Fuor de la fiamma stava in su la riva~: The angel
stands in the path which is "sequestered" from the flame, along
the edge of the terrace.

	|8.  Beati mundo corde~: See Matt. 5:8: "Beati mundo
corde, quoniam ipsi Deum videbunt."  ("Blessed are the clean of
heart, for they shall see God.")  The sixth beatitude is
especially appropriate here, with its blessing on those who are
clean of heart, who have purged themselves of all lustful
inclinations, which arise as bad love in the heart, and its
promise of heavenly beatitude in the vision of God which souls
who are now leaving this, the last of the purgatorial terraces,
are soon to enjoy.

	|9.  che la nostra~: Than our human voice.

	|11-12.  Pi@u non si va... sorde~: These are words which
the angel addresses to all souls who, like Statius, come to this
last exit, which explains the impersonal construction and the
form of address "holy souls," which, strictly speaking, would
apply neither to Virgil nor to Dante at this point.  Here again
the presence of Statius serves to indicate what each and every
purged and liberated soul does as it proceeds to the summit of
the mountain.

	|al cantar di l@a~: See vss. 55-56.        |di l@a~ = ^dal
di l@a~, i.e., from the other side of the fire.

	|13.  li~ = ^gli.~

	|14.  per ch'io~: I.e., "per la qual cosa io."

	|15.  qual @e colui che ne la fossa @e messo~: Some
interpret this to mean "as one who is laid in the grave," i.e.,
pale as a corpse; but it seems more appropriate to understand
"fossa" as "pit" rather than "grave," the reference being to the
punishment known as ^propagginazione~, by which criminals were
buried alive head downward (see ^Inf.~ XIX, 50-51).  Compare
Dante's cold fright of ^Purg.~ XX, 128-129.

	|16.  In su le man commesse mi protesi~: M. Barbi (1934b,
p. 231) quite rightly objects to Torraca's interpretation (still
followed by other commentators) of "in su" as meaning ^in alto~,
as if Dante reached up with clasped hands in horror.  Instead,
Dante must have his hands clasped and pressed back against his
garments to keep them from the fire, and this accounts for his
posture.

	|18.  umani corpi gi@a veduti accesi~: Burning at the
stake was not an uncommon punishment in Dante's day.  The poet
himself was condemned to it, in his exile, if he were to be taken
in Florentine territory.

	|19.  Volsersi~ = ^si volsero.~ 	|le buone
scorte~: Note that Statius is again referred to as a guide.

	|21.  qui~: I.e., in this fire.

	|22.  Ricorditi~ = ^ti ricordi~, impersonal imperative
with the verb in the subjunctive.  Cf. ^Inf.~ XXVIII, 73; ^Purg.~
V, 133.

	|23.  sovresso Gerion~: "On very Geryon."  The reader
will recall what a frightening experience the ride down on the
back of that monster was for Dante (see ^Inf.~ XVII, 85-136).

	|25-30.  Credi per certo... panni~: The concept of fire
having the supernatural power of burning spiritually without
burning materially connects with the flaming sword of the
Cherubim placed to guard the way to the tree of life in Eden
(Gen. 3:24) after Adam and Eve had been expelled.  Hugh of St.
Victor, ^Adnotationes elucidatoriae in Pentateuchon~, on Gen. 3
(col. 43), notes: 

     Cherubim ut repellat diabolum, ignis ut hominem.  Et
     notandum, Deum speciem ignis facere aut fecisse, ut in
     vita sancti Nicolai legitur, cuius natura dicitur
     esse ut si quis manum adhibuerit, ardorem quidem
     sentit, sed nullam patitur adustionem, et est ignis ille
     talis naturae quod comburit spiritum, nec eget materia quam
     consumat, sicut nec ille qui est in sphaera solis.  Iste
     autem noster ignis et eget materia, et solum corpus urit.

     Just as the Cherubim repel the devil, so fire will man.  It
     is to be noted that God makes and has made fire, as we read
     in the life of St. Nicholas, to be of such a nature that,
     if one puts his hand near it, he will feel heat but not be
     burned.  Also, this fire is of such a nature that it can
     burn a spirit, and it does not need matter to consume, even
     as that which is in the sun, whereas our fire must have
     matter and burns only our bodies.

	|25.  dentro a l'alvo~: "In the midst of."  |Alvo~ is
from the Latin ^alvus~, "belly."

	|27.  d'un capel calvo~: Cf. Luc. 21:18: "Et capillus de
capite vestro non peribit."  ("Yet not a hair of your head shall
perish.")  Also see Actus 27:34.

	|29-30.  fatti ver' lei~: For ^farsi verso qualcuno~, cf.
^Purg.~ XXVI, 13.  	|lei~ = ^essa~ (i.e., "la fiamma").

	|fatti far credenza... panni~: A touch which suggests
that Dante was in fact holding back his garment from the flame
(see vs. 16) and that now he might cause his garments to touch
the fire.  On "fatti far credenza" Buti comments: "cio@e
esperienzia la quale fa credere" ("that is, an experience that
makes you believe").  The expression ^far credenza~ derives from
the custom of a prince's having someone else taste his food to
guard against poison (a ^credenza~ being the side table on which
the food was placed for tasting).  Boccaccio, referring to a
gift of chicken or some other food secretly filled with poison,
uses the expression in ^Il Filocolo~ II (p. 99): "Come il
presente davanti a voi sar@a posato... fate che in alcun modo o
cane o altra bestia faccia la credenza, acci@o che altra persona
non ne morisse."  ("When the gift is put before you... in some way
have a dog or some other animal try it [^faccia la credenza~], so
that no person will die from it.")

	|al lembo~ = ^dal lembo.~

	|32.  volgiti in qua e vieni: entra sicuro~: Dante's eyes
are fixed on the fire in terror.  Virgil commands him to look
toward him and to come to him and so free himself from his
paralyzing fear.

	|33.  E io pur fermo e contra coscienza~: The verse is
the more effective for having no verb.      |contra coscienza~:
Dante knows that he should obey his trusty guide.

	|34.  duro~: Compare Thomas Aquinas, ^Summa theol.~ III,
Suppl., q. 1, a. 1, resp.: "Ille autem qui in suo sensu
perseverat, rigidus, et durus per similitudinem vocatur."  ("Now
he that persists in his own judgment, is metaphorically called
rigid and hard.")  Cf. ^Inf.~ XXVII, 56 and vs. 40 of this
canto, "durezza."

	|35.  turbato~: "Vexed," "annoyed."

	|37-39.  Come al nome di Tisbe... vermiglio~: The two
lovers Pyramus and Thisbe dwelt in adjoining houses at Babylon
and used to converse together secretly through a hole in the
wall, since their parents would not sanction their marriage.  On
one occasion they agreed to meet at the tomb of Ninus, and when
Thisbe, who arrived first, was waiting for Pyramus, she perceived
a lioness which had just torn in pieces an ox.  In terror she
fled, in her flight dropping her garment, which the lioness
soiled with blood.  In the meantime Pyramus came to the tomb and,
finding Thisbe's garment covered with blood, supposed that she
had been killed.  In despair he stabbed himself at the foot of a
mulberry tree, the fruit of which, from being white, thenceforth
became crimson like blood.  When Thisbe returned and discovered
her lover, who was just able to recognize her before he died, she
slew herself at his side.  The story is told by Ovid, ^Metam.~
IV, 55-166.  Dante's reference is particularly to Ovid's account
of how Thisbe called upon her dying lover (^Metam.~ IV, 142-146):

     "Pyrame," clamavit, "quis te mihi casus ademit?
     Pyrame, responde! tua te carissima Thisbe
     nominat; exaudi vultusque attolle iacentes!"
     ad nomen Thisbes oculos a morte gravatos
     Pyramus erexit visaque recondidit illa.

     She wailed: "0 my Pyramus, what mischance has reft you from
     me? Pyramus! answer me.  'Tis your dearest Thisbe calling
     you.  Oh, listen, and lift your drooping head!"  At the name
     of Thisbe, Pyramus lifted his eyes, now heavy with death,
     and having looked upon her face, closed them again.

	|40.  la mia durezza fatta solla~: A kind of ablative
absolute.  For "durezza," cf. "duro," vs. 34.       |solla~:
"Soft."  Cf. ^Inf.~ XVI, 28; ^Purg.~ V, 18.

	|41.  mi volsi al savio duca~: Dante obeys Virgil's
command (vs. 32).

	|42.  rampolla~: "Springs up," as water in a spring.

	|43.  croll@o la fronte~: Cf. ^Inf.~ XXII, 107:
"crollando 'l capo."  The gesture expresses surprise or
amazement, feigned, of course, in this instance, since Virgil
knows that the mention of Beatrice has already had its calculated
effect.

	|44.  volenci~ = ^vogliamoci.~  The reflexive ^ci~ depends
on "star" (^starsi~), "to stay."

	|45.  come al fanciul si fa ch'@e vinto al pome~: Cf.
^Purg.~ XXIV, 108-111.      |pome~ = ^pomo.~  |Pome~ is an
archaic form common in early Italian prose as well as verse.  See
E. G. Parodi (1957), p. 245.

	|48.  divise~: "Had separated us."  They had come along
in single file with Virgil in the lead and Statius next, followed
by Dante, as in the long climb from the sixth terrace (^Purg.~
XXV, 7-9).

	|49.  S@i com'~: See "com'" in ^Inf.~ XXVI, 12; ^Purg.~
XI, 92.  	|un bogliente vetro~: "Boiling glass."  Benvenuto
comments: "quod est summe calidum" ("which is very hot").

	|54.  parmi~ = ^mi pare.~

	|55.  Guidavaci~ = ^ci guidava.~

	|56.  di l@a~: On the other side of the fire (cf. vs.
12).      |a lei~: "To it," the voice.

	|57.  fuor~: Out of the fire.

	|58.  Venite, benedicti Patris mei~: The words that
Christ will speak to the just souls on His right hand at the Last
Judgment.  See Matt. 25:34: "Tunc dicet Rex his qui a dextris
eius erunt: Venite, benedicti Patris mei, possidete paratum vobis
regnum a constitutione mundi."  ("Then the king will say to those
on his right hand, `Come, blessed of my Father, take possession
of the kingdom prepared for you from the foundation of the
world.'")  The words are most appropriate here, as addressed to
all "holy souls" (vs. 11) who come forth from the cleansing fire
and have completed their purgation.  Dante expected the reader to
continue the words actually spoken by the angel and thus come to
the meaningful "possidete... regnum."  E. H. Wilkins (1927, p. 5)
calls attention to a mosaic in the Baptistery of Florence (a
mosaic that was there in Dante's time) which shows a gate guarded
by an angel who is welcoming a newly arrived soul and to the
right of this another angel who is leading a group of the blessed
toward the gate and who bears a banner inscribed: "Venite
beneditti Patris mei possidete preparatum."  ("Come, ye blessed
of my father, possess [the kingdom] prepared.")

	|59.  dentro a un lume~: The angel, like the others
before, is dazzlingly bright.

	|61-63.  "Lo sol sen va,"... annera~: Cf. Ioan. 12:35:
"Ambulate dum lucem habetis, ut non vos tenebrae comprehendant." 
("Walk while you have the light, that darkness may not overtake
you.")  The three are urged to hurry for the good reason that was
first explained by Sordello in ^Purg.~ VII, 44-60.

	|64-66.  Dritta salia... basso~: The stairway goes from
west to east, straight up through the rock, so that Dante, having
the setting sun at his back, casts a shadow before him.

	|67-69.  E di pochi scaglion levammo i saggi~: Literally,
"and we took samples of only a few steps."  Porena comments:

     ^Saggio~ sostantivo, dal latino ^exagium~, signific@o prima
     esperimento, prova.  Si chiam@o anche cos@i quel pezzetto di
     minerale che si toglieva da una massa maggiore per
     riconoscere la na di questa, fare quello che oggi si
     direbbe l'analisi: onde l'espressione ^togliere~ o ^levare~
     ^il saggio~ nel senso di saggiare, sperimentare.

     ^Saggio~, substantive, from the Latin ^exagium~, first
     signified experiment, trial.  It was also the name for that
     little piece of some mineral that was taken from a larger
     mass in order to understand its nature, to make what today
     would be called an analysis.  And thus we have the
     expression ^togliere~ or ^levare il saggio~ (to take a
     sample), in the sense of ^saggiare~ (to test),
     ^sperimentare~ (to experiment).

See ^Antiche rime volgari DCCLXXXI~, 3-4, where, as Torraca
indicates, the phrase is used: "Per@o del meo saver levate sagio /
E laove bisongnasse fate giunta."  ("And so test [^levate sagio~]
my knowledge / and, where necessary, add to it.")  Regarding the
rhyme |saggi~/|saggi~, see a similar situation in ^Inf.~ XXII, 73
and 75.

	|E di pochi... saggi~: Dante's body casts a long shadow,
which can be seen by Virgil and Statius, who are in front of him. 
It fades out now as the sun sets.

	|che~ = ^quando.~ 	|corcar~ = ^coricarsi.~ 
Cf. ^Purg.~ XVII, 9.

	|71.  orizzonte~: The subject of "fosse... fatto."

	|72.  e notte avesse tutte sue dispense~: "Notte" is the
subject of "avesse."  The literal meaning of "dispense" in this
context is uncertain, but "privileges" in the sense of "the parts
which she is privileged to occupy" seems the probable meaning,
hence "before night had occupied all her domains," i.e., claimed
the entire horizon.

	|73.  ciascun di noi d'un grado fece letto~: Apparently
the reader is to imagine that Virgil and Statius (two spirits
who, strictly speaking, should have no need of rest!) both lie
down, as Dante does, each on a step of the stair, for the night.

	|74-75.  la natura del monte~: Cf. "la natura del loco"
in ^Inf.~ XVI, 17.

	|ci affranse... diletto~: Even as Sordello first
explained would occur when night fell (^Purg.~ VII, 53-57).

	|76-85.  Quali si stanno... allotta~: The feature of the
herdsman standing (vs. 81) has nothing to correspond to it in the
scene it would illustrate in this case, since Virgil and Statius
are lying down, each on a step of the stair.  This, Torraca
thinks, may be what prompted the poet to proceed to a second
simile of the herdsman (vss. 82-84).  Torraca comments:

     Ma l'imagine di questo pastore, che non s'adagia, che,
     appoggiato al lungo bastone, custodisce le capre di pieno
     giorno, non si adattava interamente a Virgilio e a Stazio,
     distesi su gli scaglioni mentre calava la notte; e Dante le
     sostituisce quella del ^mandriano~, che passa la notte in
     campagna, coricato accanto alla sua mandra.

     But the image of this herdsman who is not lying down and
     who, leaning on his long staff, watches over his goats in
     broad daylight was not entirely fitting for Virgil and
     Statius, stretched out on the steps as night falls.  And so
     Dante replaces it with the image of the herdsman who spends
     the night in the open, lying near his herd.

	|76.  manse~ = ^mansuete.~

	|77.  rapide~: "Swift."  However, the adjective may mean
"voracious" and is so interpreted by Buti, who comments: "cio@e
rapaci, quando si pascevano" ("that is, rapacious when they were
eating").     |proterve~: "Frisky."  Cf. Virgil, ^Georg.~ IV, 10:
"haedique petulci" ("or sportive kids").

	|78.  pranse~: From the Latin ^pransus~, from ^prandere~,
"to eat."  It may be construed either as a past participle or an
adjective here.

	|81.  e lor di posa serve~: And watches over their rest.

	|82.  fori~: "Out in the open."

	|83.  lungo il pecuglio suo queto pernotta~: "Queto" may
be taken as modifying either "pecuglio" or the "mandrian." 
|pernotta~: "Reclines through the night," "rests through the
night," but ever alert and watchful.  Virgil and Statius, who lie
and do not sleep, correspond to this figure.

	|85.  allotta~ = ^allora.~

	|87.  fasciati~: Literally, "swathed," "bound," by the
walls of the narrow passageway through the rock.

	|88.  parer~ = ^apparire.~ 	|del di fori~: "Of the
outside," i.e., anything outside the passageway.  In fact, Dante
can see only a little of the sky.

	|91.  ruminando~: The verb catches the full import of the
two similes of the flocks at rest, chewing the cud, and the mood
of quiet contemplation that prevails.

	|92-93.  il sonno che sovente... novelle~: This clearly
suggests that the dream now to be recounted is prophetic.  Sleep,
somewhat personified, is said to "have news" of the event before
it happens.  The indication in vss. 94-95 that this third dream
comes in the early hours just before dawn further underscores
this point and suggests its similarity to the other two dreams
(^Purg.~ IX, 13-18, and XIX, 1-6).

	|94.  credo~: The little touch of uncertainty was missing
in the account of the hour at which the other two dreams came and
(though the reader probably thought nothing of it in those two
cases) might have been introduced there as well, especially in
the case of the second dream, for how, we may ask, did the
sleeping Dante know at what hour it came to him?

	|95.  Citerea~: Cytherea, epithet of Venus, who was so
called from Cythera (now Cerigo), an island off the southeast
coast of the Peloponnesus, near which she is said to have risen
from the foam of the sea.  Dante here applies the name to the
planet Venus, the time indicated being the early morning before
dawn.  Cf. ^Purg.~ I, 19-21, where Venus is also described as
shining bright just before dawn.  On the auspicious connotation
of this, see n. to ^Purg.~ I, 19.

	|98.  landa~: A level clearing surrounded by trees, as in
^Inf.~ XIV (except so very different from that barren place!).

	|100-108.  Sappia qualunque... appaga~: In three highly
condensed tercets the prophetic (and clearly allegorical) dream
is recounted.  Laban's daughters Leah and Rachel, of the Old
Testament, were long established allegorical figures of the
active and contemplative life respectively.  Leah was the first
wife of Jaocb; Rachel was his second wife.  Cf. ^Inf.~ IV, 60,
where Jacob's years of service for Rachel are referred to.

	|100.  qualunque~ = ^chiunque.~

	|101-102.  i' mi son Lia~: The reflexive is the familiar
pleonastic pronoun common in statements of identification.  Cf.
^Purg.~ XXIV, 52.

	|vo movendo intorno le belle mani~: Signifying the active
life and its works, which are as fair as the hands that perform
them.  Leah will then see with delight, in her mirror, that this
is so.

	|103.  Per piacermi a lo specchio~: Buti comments: "per
avere complacenzia di me quando io mi specchier@o; cio@e quando io
esaminer@o e considerer@o ne la coscienzia, che @e lo specchio
d'ogni uno, quali siano l'opere mie" ("in order to be satisfied
with myself when I look in the mirror; that is, when I shall
examine and consider what my works are in [my] conscience, which
is the mirror for each of us").

	|104-105.  mai non si smaga dal suo miraglio~: "Never
turns away from her mirror."  Note "smaghi" in ^Purg.~ X, 106,
and "dismago" in ^Purg.~ XIX, 20, and compare "volsi" in ^Purg.~
XIX, 22.

	|siede tutto giorno~: Benvenuto observes: "Idest,
quiescit in speculatione."  ("That is, she rests in
speculation.") 		|tutto giorno~: Constantly.

	|106.  Ell'@e d'i suoi belli occhi veder vaga~: Rachel's
eyes are beautiful, even as Leah's hands are said to be.  The
object of contemplation is truth, but philosophy, as Dante says
in the ^Convivio~, not only contemplates truth, but contemplates
the contemplation itself, here signified by Rachel's constant
desire to see her own eyes.  See ^Conv.~ IV, ii, 18:

     Filosofia, che @e... amoroso uso di sapienza, se medesima
     riguarda, quando apparisce la bellezza de li occhi suoi a
     lei; che altro non @e a dire, se non che l'anima filosofante
     non solamente contempla essa veritade, ma ancora contempla
     lo suo contemplare medesimo e la bellezza di quello,
     rivolgendosi sovra se stessa e di se stessa innamorando per
     la bellezza del suo primo guardare.

     Philosophy, which... is "the loving exercise of wisdom,"
     contemplates herself  the beauty of her eyes is revealed
     to herself.  And what else is this but to say that the
     philosophising soul not only contemplates the truth, but
     also contemplates its own contemplation and the beauty
     thereof, turning upon itself and enamouring itself of itself
     by reason of the beauty of its direct contemplation?

	|109.  splendori antelucani~: As Dante states in the
^Convivio~ (III, xiv, 5), ^splendore~ denotes reflected light:

     Dico che l'usanza de' filosofi @e di chiamare "luce" lo
     lume, in quanto esso @e nel suo fontale principio; di
     chiamare "raggio," in quanto esso @e per lo mezzo, dal
     principio al primo corpo dove si termina; di chiamare
     splendore, -- in quanto esso @e in altra parte alluminata
     ripercosso.

     I say that it is the custom of the philosophers to call the
     luminous principle ^light~, in so far as it exists in the
     source from which it springs, and to call it a ^ray~ in so
     far as it exists in the medium (between its source and the
     first body whereby it is arrested), and to call it
     ^splendour~ in so far as it is thrown back upon some other
     illuminated part.

See "antelucani" in Sapien. 11:23: "tamquam gutta roris
antelucani quae descendit in terram" ("or a drop of morning dew
come down upon the earth").

	|110-111.  che tanto a' pellegrin... lontani~: The nearer
pilgrims come to home ("tornando") with each day of their return
journey, the more eager they become to reach journey's end and so
welcome the coming of day when they can be on their way.  For the
pilgrim homesick even after the first day of the outbound
journey, see ^Purg.~ VIII, 4-6.  Clearly the touch signals the
fact that, for Dante the pilgrim, "home" is, in some sense, near
now.

	|113.  leva'mi~ = ^mi levai.~

	|115.  Quel dolce pome~: Happiness.     |che per tanti
rami~: Mortals seek happiness on many different boughs, i.e.,
seek it in many ways according to differing notions of what
constitutes happiness.  See the quotation from Boethius in the
following note {to vs. 116}.

	|116.  la cura de' mortali~: "Cura" (subject of
"cercando") means "endeavor" or "pursuit."  See Boethius,
^Consol. philos.~ III, 2, ll. 2-5: "Omnis mortalium cura quam
multiplicium studiorum labor exercet, diverso quidem calle
procedit, sed ad unum tamen beatitudinis finem nititur
pervenire."  ("All men's thoughts, which are turmoiled with
manifold cares, take indeed divers courses, but yet endeavour to
attain the same end of happiness.")  Boethius goes on to review
the various conceptions men have of happiness.  Cf. ^Inf.~ XVI,
61, where Dante also alludes to the "dolci pomi," the good which
every man perceives dimly as his ultimate desire and goal and
which each strives to reach (see ^Purg.~ XVII, 127-129).  Cf.,
for another pointer to the fact that the goal thus promised is
happiness, ^Purg.~ XXX, 75.

	|117.  oggi porr@a in pace le tue fami~: If Dante's
hunger for this sweet fruit is to be satisfied today, then the
reader should be alert to see just how this will happen.  It is
thus a promise which, like the promise of the dream, is to be
carried along now with a certain suspense as to how it will be
realized.  To attain peace is to reach a goal, which should mean
to reach home, in some sense, according to the suggestion made by
the pilgrim image.  For the notion of peace as sweet fruit and
fruition, see Thomas Aquinas, ^Summa theol.~ I-II, q. 11, a. 3,
resp.:

     Ad rationem fructus duo pertinent, scilicet quod sit
     ultimum, et quod appetitum quietet quadam dulcedine vel
     delectatione.  Ultimum autem est simpliciter et secundum
     quid; simpliciter quidem quod ad aliud non refertur; sed
     secundum quid, quod est aliquorum ultimum.

     Quod ergo est simpliciter ultimum, in quo aliquis delectatur
     sicut in ultimo fine, hoc proprie dicitur fructus, et eo
     proprie dicitur aliquis frui.

     The notion of fruit implies two things: first that it should
     come last; second, that it should calm the appetite with a
     certain sweetness and delight.  Now a thing is last either
     simply or relatively; simply, if it be referred to nothing
     else; relatively, if it is the last in a particular series. 
     Therefore that which is last simply, and in which one
     delights as in the last end, is properly called fruit; and
     this it is that one is properly said to enjoy.

	|118-119.  queste cotali parole~: Words so meaningful.

	|furo~ = ^furono.~ 	|strenne~: Auspicious gifts,
gifts auguring happiness.  Cf. M. Barbi (1934b), pp. 283-284.

	|120.  queste~: I.e., "parole." 	|iguali~ =
^uguali.~

	|123.  sentia~ = ^sentivo.~  	|crescer le penne~: The
climb is easy now, even as Virgil predicted it would be (^Purg.~
IV, 91-94; XII, 121-126).  The last P has been removed from
Dante's forehead (though no explicit mention of the fact was
made), and he is much lighter and fairly flies to the promised
goal. 

	|127.  Il temporal foco~: The fire of Purgatory, i.e.,
all the purgatorial punishments (see ^Inf.~ I, 118-120) which
will not endure eternally as will  fire of Hell, but only
until the Judgment Day.   	|e l'etterno~: The fire of Hell. 
Cf. Thomas Aquinas, ^Summa theol.~ Suppl., append., "Articuli duo
de Purgatorio," a. 2, obj. 1: "Poena damnatorum est aeterna, ut
dicitur Matth. 25, 46: ^Ibunt hi in ignem aeternum.~  Sed
purgatorius ignis est temporalis."  ("The punishment of the
damned is eternal, according to Matth. XXV. 46, ^These shall go
into everlasting punishment~ [Vulg., -- ^fire~].  But the fire of
Purgatory is temporary.")

	|130.  ingegno~: "Devising." 	  |arte~: Wit put to
work.

	|131.  per duce~: In place of Virgil, who has been guide
to this point.  Henceforth Dante's own pleasure shall be his
guide.

	|132.  arte~: Cf. Matt. 7:14: "Quam angusta porta et
arcta via est quae ducit ad vitam, et pauci sunt qui inveniunt
eam!"  ("How narrow the gate and close the way that leads to
life!  And few there are who find it.")  Cf. ^Purg.~ X, 16.

	|133.  Vedi lo sol che 'n fronte ti riluce~: We are again
reminded that Dante faces east and the dawn as he moves into the
garden, and we should recall that he was facing west when he
began the climb up the mountain (^Purg.~ III, 16-18).  Hence he
has finally circled halfway round the mountain in the ascent.

	|135.  che qui la terra sol da s$e produce~: A point
explained in the next canto, ^Purg.~ XXVIII, 118-120.

	|136-137.  li occhi belli... lagrimando~: Cf. ^Inf.~ II,
116.  Virgil declared at the outset (^Inf.~ I, 123) that he would
leave Dante with Beatrice at this point.

	|fenno~ = ^fecero.~

	|138.  seder ti puoi~: Like Rachel, in contemplation. 
See vs. 105.  	  |e puoi andar tra elli~: Like Leah, among the
flowers and shrubs.

	|139.  Non aspettar mio dir pi@u~: The words of vss.
139-142 are, in fact, the last that Virgil speaks to Dante.

	|140.  libero, dritto e sano @e tuo arbitrio~: Free will,
the central subject of the ^Purgatorio~ (^Purg.~ XVI-XVIII), is
finally in the central focus at the end.  Dante, who was said by
Virgil at the beginning (^Purg.~ I, 71) to be seeking liberty,
has now attained it.  His will is free, straight (straightened),
and whole again, like man's will before original sin (he having
now returned to Eden, as we soon learn).  For the notion of
"straightening" the will in Purgatory, see ^Purg.~ XXIII, 126. 
And for the word |sano~ in this sense, see ^Conv.~ IV, xv, 11,
where Dante writes: "Onde @e da sapere che lo nostro intelletto si
pu@o dir sano e infermo: e dico intelletto per la nobile parte de
l'anima nostra, che con uno vocabulo `mente' si pu@o chiamare. 
Sano dire si pu@o, quando per malizia d'animo o di corpo impedito
non @e ne la sua operazione."  ("Wherefore be it known that our
intellect may be spoken of as sound or sick; and I mean by
`intellect' the noble part of our soul which may be indicated by
the common term 'mind.'  Sound it may be called when not impeded
in its activity by ill either of mind or of body.")

	|141.  fora~ = ^sarebbe.~ 	|a suo senno~:
"Discernment."  Free will involves rational discernment.  See
Dante's comment in ^De mon.~ I, xii, 3: "Et ideo dico quod
iudicium medium est apprehensionis et appetitus: nam primo res
apprehenditur, deinde apprehensa bona vel mala iudicatur; et
ultimo iudicans prosequitur sive fugit."  ("Therefore I say that
judgment is the link between apprehension and appetite.  For
first a thing is apprehended, then when apprehended it is judged
to be good or bad, and finally he who has so judged it pursues or
shuns it.")  Cf. ^Purg.~ XVI, 75-76.  And it is evident that the
notion of reason sitting in supreme rule over the lower faculties
derives from Aristotle and brings with it the notion of rule by a
king (hence the "crowning" of Dante).  See Thomas Aquinas, ^Summa
theol.~ I-II, q. 9, a. 2, ad 3:

     Sicut Philosophus dicit in I Polit. (cap. 3, post med.),
     ratio, in qua est voluntas, movet suo imperio irascibilem et
     concupiscibilem; non quidem despotico principatu, sicut
     movetur servus a domino; sed principatu regali seu politico,
     sicut liberi homines reguntur a gubernante, qui tamen
     possunt contra movere.

     As the Philosopher says (^Polit.~ i. 2), the reason, in
     which resides the will, moves, by its command, the irascible
     and concupiscible powers, not, indeed, ^by a despotic~
     ^sovereignty~, as a slave is moved by his master, but by a
     ^royal and politic sovereignty~, as free men are ruled by
     their governor, and can nevertheless act counter to his
     commands.

On Aquinas' reference to Aristotle, see ^Polit.~ I, 2, 1254+b~.

	|142.  te sovra te corono e mitrio~: Virgil's words
"crowning" and "mitering" Dante over himself complete his
declaration to his charge that he has been brought to justice,
inner justice.  On the justice to which Virgil can lead,
corresponding in the individual to what was called ^iustitia
civilis~ in a social sense (the kind to which the Romans led the
world), see C. S. Singleton (1958), pp. 64-69.  The fact that
this is ^that~ kind of justice, and not ^iustitia infusa~ (which
Dante will attain only when he attains to Beatrice), requires
that the crown and miter (implied in the corresponding verbs) be
the crown and miter which were used in the crowning of an
emperor, and it should not be construed as pointing to ^two~
powers, empire and church respectively.  On the use of the miter
in the crowning of a temporal ruler, see E. H. Kantorowicz
(1957), pp. 491-492.  

^Special Note~ {appearing as proem to Singleton's comm. on canto
28}: For the full meaning of Virgil's words of dismissal to
Dante, which close the preceding canto (^Purg.~ XXVII, 127-142)
and end Virgil's guidance, the reader is urged to see C. S.
Singleton (1958), ^passim~, but especially pp. 257-267, where the
broad pattern of justification is scrutinized.  Then, after a
thoughtful reading of the present canto, he may find some
clarification of the several major patterns of meaning which are
now emerging in clearer outline (here as Dante leaves Virgil's
guidance and proceeds into the Garden of Eden to meet the lady
who will eventually be called Matelda) if he will read chaps.
xi-xiii of that work, which apply to the whole event at the
summit of the mountain in its successive stages.  What may be
termed a fulfillment of patterns, visible and comprehensible in
retrospect, is now taking place, a process which is followed out
in the comprehensive presentation of Singleton's work.



