From daemon Mon Jan  6 09:11:05 1997
Received: from lists.Princeton.EDU (root@lists.Princeton.EDU [128.112.129.249]) by alexandria.dartmouth.edu (8.7.6/8.7.3) with ESMTP id JAA25852 for <bobh@alexandria.Dartmouth.EDU>; Mon, 6 Jan 1997 09:11:01 -0500 (EST)
Received: from ponyexpress.Princeton.EDU ([128.112.129.131]) by lists.Princeton.EDU with ESMTP id <370069.s2-1>; Mon, 6 Jan 1997 09:07:46 -0500
Received: from tucson.Princeton.EDU (tucson.Princeton.EDU [128.112.131.153]) by ponyexpress.Princeton.EDU (8.6.12/8.6.12) with ESMTP id JAA27840 for <bobh@al.dartmouth.edu>; Mon, 6 Jan 1997 09:07:35 -0500
Received: (bobh@localhost) by tucson.Princeton.EDU (SMI-8.6/8.6.12) id JAA03726 for bobh@al.dartmouth.edu; Mon, 6 Jan 1997 09:07:34 -0500
Message-Id: <199701061407.JAA03726@tucson.Princeton.EDU>
From: bobh@phoenix.Princeton.EDU (Robert B. Hollander)
Date: 	 Mon, 6 Jan 1997 09:07:34 -0500
X-Mailer: Mail User's Shell (7.2.5 10/14/92)
To: bobh@alexandria.dartmouth.edu

|PURGATORIO CANTO 23~ 

	|2-3.  s@i come far suole chi... perde~: The ^Ottimo
Commento~ elaborates: "Siccome fanno coloro, che con loro arco o
saeppolo vanno perdendo tempo a diletto dietro alli uccellini,
che per ferirli li vanno agguatando tra foglie e foglie." ("As
those do who go around with their bow or arrow losing time
running after birds and peering in among the leaves, waiting for
a chance to shoot them.")  Dante's judgment on the hunting of
birds -- and perhaps by implication on all other sports -- as a
waste of time is evident enough.  Bird-hunting was a popular
sport of the aristocracy in the Middle Ages.

	|4.  lo pi@u che padre~: Virgil.  ^Figliuole~: From the
Latin vocative ^filiole~, "little son."  For other examples of
the use of this form, see E. G. Parodi (1957), p. 248.

	|5.  vienne~: The imperative ^vieni~ \+ the adverb ^ne~
("on," "along").       |oramai~: I.e., now that our allotted time
is running out, as he then goes on to say.   |'l tempo che n'@e
imposto~: Cf. a similar indication in ^Inf.~ XXIX, 10-12, that
the journey through Hell must be completed within a definite
time; also see ^Par.~ XXII, 124.  These are all signals of the
end and come in the next-to-last circle of each of the three
realms. 	|n'~ = ^ne~ (^ci~).

	|8.  savi~: The two ancient poets.  Cf. ^Inf.~ IV,
110.        |s@ie~ = ^cos@i.~  For the added ^e~ (as in "ud@ie"
and "partur@ie" in rhyme in vss. 10 and 12) see ^Purg.~ IV, 47.

	|11.  Labia mea, Domine~: These words are from the
Miserere (Ps. 50[51]), which souls in Antepurgatory were singing
(^Purg.~ V, 24).  Here, as in many other instances, Dante expects
the reader to know the verse and recall it all and thus come, in
this case, to the words that speak of praising God (Ps.
50:17[51:15]): "Domine, labia mea aperies; et os meum annuntiabit
laudem tuam." ("^O Lord, open my lips, and my mouth shall
proclaim your praise.~")  The ^contrapasso~ aspect of the
punishment that can already be glimpsed will later become
evident.

	|12.  diletto e doglia~: The song gives pleasure, the
weeping causes compassionate grief.  Cf. vs. 10.

	|13.  che @e quel ch'i' odo?~  Dante and Virgil are
facing ahead and so away from the crowd of souls who approach
from behind; hence Dante does not see them yet.

	|14-15.  Ombre che vanno... nodo~: The "forse" should
be understood as applying to the whole statement: "Forse ombre
che..."         |nodo~: Cf. ^Purg.~ XVI, 24: "d'iracundia van
solvendo il nodo."

	|16.  i peregrin pensosi~: Compare ^Vita nuova~ XL, 9,
where Dante writes:

     Deh peregrini che pensosi andate,
     forse di cosa che non v'@e presente,
     venite voi da s@i lontana gente,
     com'a la vista voi ne dimostrate...?

     Ah ye pilgrims, that go lost in thought, perchance of a
     thing that is not present to you, come ye from folk so far
     away as by your aspect ye show forth?

In ^Purg.~ VIII, 4-6, Dante speaks of the "new pilgrim" whose
thoughts turn homeward.  These souls are "thoughtful" in a
similar way, as they seek to purge themselves (to "loose the
knot") that they may one day proceed to their heavenly home. 
Porena notes that "la similitudine @e di quelle che vanno oltre i
loro limiti puramente formali."  ("The similarity [between the
souls and pilgrims] is of the kind that goes beyond purely formal
limits.")  He continues: "Quelle anime ricordano i pellegrini
anche perch@e alternano canti e pause; e, come i pellegrini, anche
nel silenzio delle pause meditano." ("Those souls also bring
pilgrims to mind because they alternate songs with pauses and,
like pilgrims, meditate even in the silence of the pauses.")

	|17.  giugnendo~ = ^raggiungendo.~  For ^giungere~ in this
sense, see ^Inf.~ VIII, 18.    |nota~: "Known."

	|18.  si volgono ad essa~: "Turn toward them."  See n. to
^Purg.~ XXI, 14.        |restanno~ = ^ristanno.~

	|19.  di retro a noi~: Note the retrospective focus on
Statius in ^Purg.~ XXI as he comes up behind Virgil and Dante
before he is actually seen by them (see n. to ^Purg.~ XXI,
10-13).      |mota~ = ^mossa~, "moved," i.e., "moving,"
"walking."

	|20.  ci ammirava~: The souls, as we learn later (vss.
113-114), are marveling that Dante casts a shadow.  The sun is now
high enough for this, as apparently it was not earlier in the
morning, when Statius first saw Dante (see ^Purg.~ XXI, 19-20). 
See M. A. Orr (1956), p. 259, who notes a special difficulty
here.

	|21.  tacita~: See Porena's comment in the n. to vs. 16,
on the custom of pilgrims in this regard.     |devota~: The souls
remain lost in thought and praise God in their minds, even though
they are not singing the verse now, and look with wonder toward
Dante.

	|22-24.  Ne li occhi... s'informava~: Compare the
description of Famine in the passage quoted from Ovid in the n.
to vs. 26.

	|26.  Erisittone~: Erysichthon was the son of the
Thessalian King Triopas.  Having cut down trees in a grove sacred
to Ceres, he was afflicted by the goddess with a fearful hunger,
which drove him finally to devour his own flesh.  Dante probably
got the story from Ovid, ^Metam.~ VIII, 738-878.  In ^Metam.~
VIII, 799-806 Ovid affords the following description of Famine:

     quaesitamque Famem lapidoso vidit in agro
     unguibus et raras vellentem dentibus herbas.
     hirtus erat crinis, cava lumina, pallor in ore,
     labra incana situ, scabrae rubigine fauces,
     dura cutis, per quam spectari viscera possent;
     ossa sub incurvis exstabant arida lumbis,
     ventris erat pro ventre locus; pendere putares
     pectus et a spinae tantummodo crate teneri.

     Seeking out Famine, she saw her in a stony field, plucking
     with nails and teeth at the scanty herbage.  Her hair hung
     in matted locks, her eyes were sunken, her face ghastly
     pale; her lips were wan and foul, her throat rough with
     scurf; her skin was hard and dry so that the entrails could
     be seen through it; her skinny hip-bones bulged out beneath
     her hollow loins, and her belly was but a belly's place; her
     breast seemed to be hanging free and just to be held by the
     framework of the spine.

Ovid ends the tale of Erysichthon (^Metam.~ VIII, 875-878):

     vis tamen illa mali postquam consumpserat omnem
     materiam dederatque gravi nova pabula morbo,
     ipse suos artus lacero divellere morsu
     coepit et infelix minuendo corpus alebat.

     At last, when the strength of the plague had consumed all
     these provisions, and but added to his fatal malady, the
     wretched man began to tear his own flesh with his greedy
     teeth and, by consuming his own body, fed himself.

	|fatto secco~: "Dried up."

	|28-30.  Ecco la gente... becco~: According to Flavius
Josephus (^The Jewish War~ VI, 201-213), during the siege of
Jerusalem by Titus a certain Jewess named Mary was driven by
famine to kill and eat her own infant son.  The story is told on
the authority of Josephus by John of Salisbury in the
^Policraticus~ (II, 6) and by Vincent of Beauvais in the
^Speculum historiale~ (X, 5).  Benvenuto's account, which is
evidently condensed from one of these, is as follows:

     Mulier quaedam nobilis genere et divitiis nomine Maria
     inventa est in alia multitudine quae confluxerat ad urbem
     tempore obsidionis... cuius facultates tyranni primo
     invaserant, deinde per momenta satellites latronum reliquias
     rapiebant, propter quod mulier indignatione et insania
     accensa saepe illos provocabat maledictis ad interficiendum
     se; sed cum nullus vel ira vel miseria mactaret illam, nec
     aliqua via posset quaerere victum, fame et ira, pessimis
     consultoribus, instigante, armatur contra iura naturae.  Nam
     assumpto infantulo quem lactabat dicere coepit: infelicis
     matris infelicior fili: in bello, fame, rapina latronum cui
     te reservabo? Nam si vita sperari possit, iugo romanae
     servitutis servamur; sed iam nunc ipsam servitutem fames
     praevenit, et praedones peiores fame et servitute nos
     premunt.  Veni ergo, mi fili, esto matri cibus, praedonibus
     furor, saeculis fabula, quae sola deficiebat miseriis
     iudaeorum.  Et cum haec dixisset, simul filium iugulavit, et
     medium assavit, et reliquum reservavit.  Et ecce praedones
     incitati odore carnis, mortem minantes nisi cibum quem
     senserant daret.  Tunc illa infuriata dixit: certe partem
     optimam reservavi; et continuo detexit membra infantis; sed
     illi quamvis crudeles territi sunt nimis, nec potuerunt
     facere verbum, vincente naturali pietate.  Illa vero vultu
     crudeli ferocior latronibus, dixit: filius meus est, meus
     partus, meum peccatum, comedite; nam et ego prior comedi
     quae genui: nolite fieri misericordiores matre, aut foemina
     molliores.  Illi trementes recesserunt, hunc solum miserae
     matri relinquentes cibum.

     Among the crowd that flocked to the city at the time of the
     siege there was a certain noble and wealthy woman named
     Mary... whose property the tyrants first attacked; then
     gradually their underlings stole the rest of her resources. 
     As a result, the woman, flying into an indignant rage and
     driven almost mad, taunted them with curses to provoke them
     to kill her; yet when no one would, either through anger or
     hatred, lay a hand on her, and since she could not manage to
     live any other way, hunger and anger -- poor advisers indeed
     -- drove her to sin against nature itself.  She took into
     her arms the child she was nursing and said: "You pitiful
     child of an unhappy mother, why should I preserve you for
     the toils of war and famine and the wicked hands of brigands
     to destroy you?  If there were any hope of life for you, it
     would be no more than the yoke of Roman slavery; and now
     already hunger precedes slavery, and now brigands that are
     worse than hunger and slavery encompass you.  So, my son,
     come, be food for your mother, bring furor to these bandits,
     become a legend for future ages, as suffering the only woe
     that was spared the Jews."  And, when she had said this, she
     strangled the child and with her teeth bit into his body and
     put it aside.  The soldiers, excited by the odor of meat,
     threatened her with death unless she gave them some of the
     food they had smelled.  In a voice filled with madness she
     screamed at them: "Of course, I have kept the better part
     for myself," and she uncovered the body of the child before
     them.  Depraved as they were, they were horrified at the
     sight, nor could they utter a word, silenced by natural
     pity.  She, with a look on her face far crueler than any
     murderer, said to them: "He is my son, the fruit of my womb,
     my sin; come, eat some of him, for I have already eaten, I
     who gave birth to him.  Surely you are not going to be more
     merciful than a mother, softer than a woman!"  But they
     withdrew in horror, leaving the food solely for the unhappy
     mother.

In using Erysichthon and Mary as two examples of fearful hunger
Dante has followed his familiar pattern of alternating classical
and non-classical incidents.

	|di@e~ = ^diede.~ 	|di@e di becco~: As if she were a
vulture or some carrion-eating bird.

	|31.  Parean l'occhiaie anella sanza gemme~: See
Shakespeare, ^King Lear~, Act V, sc. 3, ll. 188-190: 

			... and in this habit 
		Met I my father with his bleeding rings, 
		Their precious stones new lost....

	|32-33.  chi nel viso... l'emme~: There was a belief
popular in Dante's time that the word ^omo~ (i.e., ^homo~, "man")
could be seen in a human face, the eyes forming the two o's, and
the nose and outline of the eye sockets forming the ^m~; it was
also believed that ^dei~ could be seen there.  (See Fig. 3
{omitted}.)  This belief is witnessed by a reference to it in a
sermon of a Brother Berthold, a Franciscan friar of Regensburg in
the thirteenth century, quoted by Longfellow as follows:

     Now behold, ye blessed children of God, the Almighty has
     created you soul and body.  And he has written it under your
     eyes and on your faces, that you are created in his
     likeness.  He has written it upon your very faces with
     ornamented letters.  With great diligence are they
     embellished and ornamented.  This your learned men will
     understand, but the unlearned may not understand it.  The
     two eyes are two o's.  The ^h~ is properly no letter; it
     only helps the others; so that ^homo~ with an ^h~ means Man. 
     Likewise the brows arched above and the nose down between
     them are an ^m~, beautiful with three strokes.  So is the
     ear a ^d~, beautifully rounded and ornamented.  So are the
     nostrils beautifully formed like a Greek %varepsilon\ beautifully
     rounded and ornamented.  So is the mouth an ^i~, beautifully
     adorned and ornamented.  Now behold, ye good Christian
     people, how skilfully he has adorned you with these six
     letters, to show that ye are his own, and that he has
     created you!  Now read me an ^o~ and an ^m~ and another ^o~
     together; that spells ^homo.~  Then read me a ^d~ and an ^e~
     and an ^i~ together; that spells ^dei.~  ^Homo dei~, man of
     God, man of God!

	|avria~ = ^avrebbe.~ 		|l'emme~: The
image is precise only if we think of an uncial ^m~, with two
^o~'s set in it for the eyes.

	|34-36.  Chi crederebbe... como~: The word order here
should be construed: "Chi, non sappiendo como, crederebbe...."

	|governasse~: Cf. "governo" in ^Inf.~ XXVII, 47 and
^Purg.~ V, 108, and see ^Vita nuova~ IV, 2, as well as IV, 3,
where the word is rephrased as ^distrutto.~

	|quel~: I.e., ^odore.~ 	     |sappiendo~ = ^sapendo.~ 
|como~ = ^come.~

	|37.  era~ = ^ero.~ 		|che~ = ^che cosa.~

	|39.  squama~: The ^scabbie~ referred to in vss. 49 and
58, a sign of extreme starvation.

	|40.  ed ecco~: See n. to ^Inf.~ XXI, 7.        |del~ =
^dal~ (cf. ^Inf.~ XXI, 47).

	|41.  fiso~ = ^fisamente.~

	|42.  Qual grazia m'@e questa?~  I.e., "qual grazia @e
questa per me."

	|45.  conquiso~: Past participle of ^conquidere.~  Cf.
^Rime~ LXXI, 5-11, where Dante writes of a lady who lies dead:

     Ben ha le sue sembianze s@i cambiate,
     e la figura sua mi par s@i spenta,
     ch'al mio parere ella non rappresenta
     quella che fa parer l'altre beate.

     Se nostra donna conoscer non poi,
     ch'@e s@i conquisa, non mi par gran fatto,
     per@o che quel medesmo avvenne a noi.

     Truly hath she so changed a semblance, and to me
     her form appeareth so spent, that to my seeming she
     resembleth not her who maketh the others appear blest.  

     If thou canst not recognise our lady that is so stricken, 
     'tis no great marvel methinks, for that very same did hap 
     to us.

	|46.  raccese~ = ^riaccese.~

	|47.  a la~: Respecting, with regard to.       |cangiata~
= ^cambiata.~ 	   |labbia~: "Face" (see ^Inf.~ VII, 7; XIV, 67).

	|48.  Forese~: Forese Donati, who was nicknamed Bicci
Novello, was a contemporary and friend of Dante.  He died on July
28, 1296.  His friendship with Dante is attested not only by
references in the ^Divine Comedy~, but also by the fact that they
engaged in a poetical correspondence or ^tenzone~ (written
probably between 1293 and 1296), consisting of six sonnets,
^Rime~ LXXIII-LXXVIII (three addressed by Dante to Forese, and
three of his in reply), in which they both indulged in
personalities, not always, apparently, goodnaturedly.

	In two of these sonnets Dante makes direct allusion to
Forese's gluttonous propensities.  One (^Rime~ LXXVII) begins:

     Bicci novel, figliuol di non so cui,
     s'i' non ne domandasse monna Tessa,
     gi@u per la gola tanta roba hai messa,
     ch'a forza ti convien torre l'altrui.

     Young Bicci, son of I don't know who (short of asking my
     lady Tessa), you've stuffed so much down your gorge that
     you're driven to take from others.

In another (^Rime~ LXXIII) he commiserates with Forese's wife on
account of her spouse's irregular habits:

     Chi udisse tossir la mal fatata
     moglie di Bicci vocato Forese,
     potrebbe dir ch'ell'ha forse vernata
     ove si fa 'l cristallo in quel paese.
     Di mezzo agosto la truovi infreddata;
     or sappi che de' far d'ogni altro mese!
     E non le val perch@e dorma calzata,
     merz@e del copertoio c'ha cortonese.
     La tosse, 'l freddo e l'altra mala voglia
     no l'addovien per omor ch'abbia vecchi
     ma per difetto ch'ella sente al nido.
     Piange la madre, c'ha pi@u d'una doglia,
     dicendo: "Lassa, che per fichi secchi
     messa l'avre' 'n casa del conte Guido!"

     Anyone who heard the coughing of the luckless wife of Bicci
     (called Forese) might say that maybe she'd passed the winter
     in the land where crystal is made.  You'll find her frozen
     in mid-August -- so guess how she must fare in any other
     month!  And it's no use her keeping her stockings on -- the
     cover is too short....

     The coughing and cold and other troubles -- these don't come
     to her from ageing humours, but from the lack she feels in
     the nest.  Her mother, who has more than one affliction,
     weeps saying: "Alas, for dried figs I could have married her
     to Count Guido!"

Forese retorted by making reflections upon Dante's father and
implying, apparently, that the latter was a coward.  On these
sonnets, see M. Barbi (1956, 1932); see also the commentary in
^Rime~, edited by G. Contini (1965), pp. 81-93.

	The ^Anonimo fiorentino~, quoting ^Rime~ LXXV, says of
Forese:

     Questa anima... si fu Forese fratello di messere Corso Donati
     da Firenze, il quale fu molto corrotto nel vizio della gola,
     et nella prima vita fu molto dimestico dell'Auttore, per la
     qual dimestichezza egli fece festa a Dante: et molti sonetti
     et cose in rima scrisse l'uno all'altro; et fra gli altri
     l'Auttore, riprendendolo di questo vizio della gola, gli
     scrisse uno Sonetto in questa forma:

     	Ben ti faranno il nodo Salomone,
     	Bicci novello, i petti delle starne,
     	Ma peggio fia la lonza del castrone,
     	Ch@e 'l cuojo far@a vendetta della carne etc.

     Questo Forese Donati fu chiamato per sopra nome Bicci.

     This soul... was Forese, brother of Messer Corso Donati of
     Florence.  Forese was steeped in the vice of gluttony.  In
     the former life he and Dante had been very intimate, and
     that is the reason he greets Dante so warmly.  They wrote
     many sonnets and rhymes to each other.  In one of these
     sonnets, in which he reprimands him for his vice of
     gluttony, Dante writes: "Partridge breasts, young Bicci,
     will truss you in Solomon's knot all right!  But loins of
     mutton will be still worse for you, for the skin will take
     revenge for the flesh!"  This Forese Donati was called by the
     nickname Bicci.

Benvenuto says of him:

     Iste fuit quidam concivis suus, nomine Foresius, natione
     florentinus, genere nobilis, frater famosi militis Cursii de
     Donatis, amicus et affinis nostri poetae, cum quo vixerat ad
     tempus familiariter.  Et quia noverat eum multum laborasse
     vitio gulae, licet esset aliter vir bonus, ideo introducit
     eum hic ita maceratum.

     This man was a fellow-citizen of his [Dante's] by the name
     of Forese, Florentine by birth and noble, brother of the
     famous soldier Corso Donati, and he was the familiar friend
     of our poet, with whom he lived in friendly relations for a
     time.  And because he [Dante] knew him to be much given to
     the vice of gluttony, though otherwise a good man, he
     therefore introduces him here as being thus punished.

	|49.  contendere~: "Pay attention to," "attend to."  See
Scartazzini-Vandelli for the following quotation from Fra
Giordano: "Le donne amministravano le necessitadi degli Apostoli,
i quali non poteano contendere alle cose mondane."  ("The women
took care of the needs of the apostles, who could not attend to
worldly matters.")

	|52.  il ver di te~: Your true story, i.e., how you have
come here alive.  Forese can see that Dante casts a shadow (see
vss. 112-114).

	|54.  favelle~ = ^favelli.~

	|55.  La faccia tua~: Dante continues to gaze intently
into Forese's face.  	|ch'io lagrimai gi@a morta~: Dante had
wept over the face of his dead friend.

	|56.  non minor doglia~: Cf. ^Inf.~ XVI, 52.

	|57.  torta~: Literally, "twisted," i.e., disfigured by
starvation.

	|58.  Per@o~ = ^perci@o.~ 	|mi d@i~ = ^dimmi.~      
|che~ = ^che cosa.~ 	  |sfoglia~: "Peels off" (referring to
the scab flaking off), or perhaps "strips," as of leaves.

	|61.  De l'etterno~ = ^da l'etterno.~ 	
|consiglio~: God's will and counsel.

	|62-63.  ne la pianta rimasa dietro~: What is said of
this tree applies to the other (or perhaps there is more than one
other) on this terrace.  See ^Purg.~ XXIV, 106-107.

	|m'assottiglio~: "I grow thin."

	|64.  esta~ = ^questa.~ 	|piangendo canta~: Cf.
vs. 10.

	|66.  si rif@a santa~: "Make themselves holy again."  They
are but souls now and as such make themselves pure as God created
them.  See Dante, ^Conv.~ IV, xxviii, 2: "Ella ritorna a Dio, s@i
come a quello porto onde ella si partio quando venne ad intrare
nel mare di questa vita."  ("She [the noble soul] returns to God,
as to that port whence she departed when she came to enter upon
the sea of this life.")

	|67.  n'accende~ = ^ci accende.~

	|68.  del pomo~: From the fruit tree.  Cf. ^Purg.~ XXIV,
104.  	|sprazzo~: Cf. ^Purg.~ XXII, 137-138.

	|69.  su per~: See n. to ^Purg.~ XXII, 137-138.

	|70.  spazzo~: "Floor."  Cf. ^Inf.~ XIV, 13.

	|71.  si rinfresca~: "Renews itself."  Each time the
souls come to one of the trees (vs. 73) the torment is renewed.

	|72.  io dico pena, e dovria dir sollazzo~: Again the
sweet-bitter motif that is first expressed in "piangere e
cantar," vs.  10, and then repeated in vss. 64 and 86.       
|dovria~ = ^dovrei.~

	|73.  quella voglia~: That same desire. 	|a li
alberi ci mena~: See ^Purg.~ XXIV, 106-111.

	|74.  che men@o Cristo lieto a dire "El@i~": Cf. Matt.
27:46: "Et circa horam nonam clamavit Iesus voce magna dicens:
Eli, eli, lamma sabacthani? hoc est: Deus meus, Deus meus, ut
quid dereliquisti me?"  ("But about the ninth hour Jesus cried out
with a loud voice, saying 'Eli, Eli, lema sabacthani,' that is,
'My God, my God, why hast thou forsaken me?'")

	|78.  cinqu' anni~: Less than four years have passed, in
fact, since this is the spring of 1300 and Forese had died in
July 1296.  Five is merely a round number.

	|79-80.  la possa... di peccar pi@u~: The power, the
possibility, of sinning more.  For ^possa~, cf. ^Purg.~ V, 66.

	|che~: Connects with "prima" of the preceding verse.

	|81.  del buon dolor ch'a Dio ne rimarita~: The wholesome
grief of repentance that reconciles us with God.  See ^Purg.~ V,
55-56.

	|82.  ancora: Cf. ^Inf.~ XXXIII, 121.

	|83-84.  Io ti credea... ristora~: In Antepurgatory among
the lethargic, who are destined to remain there for a period
equal to that of their lives on earth (see ^Purg.~ IV, 130-134;
XI, 127-132).

	|86.  lo dolce assenzo d'i mart@iri~: An effective
restatement of the joy-in-suffering motif.  See n. to vs. 72.

	|87.  Nella~: Possibly an abbreviation of Giovanella,
diminutive of Giovanna.  The early commentators tell us little
about Nella beyond what may be gathered from Forese's own words. 
Benvenuto, who refers to Forese's wife as Anella, says:

     Sciendum [est] quod Foresius... habuit in vita unam uxorem
     suam, cui nomen fuit Anella, mulier quidem sobria et pudica
     quae temperanter vixit cum isto guloso, cui habebat semper
     praeparare delicata cibaria, in quo magis virtus eius
     enituit.  Et sicut in vita numquam cessabat revocare eum ab
     errore suo, ita post mortem numquam cessavit orare pro eo.

     It should be noted that Forese had a wife whose name was
     Anella, a quiet and chaste woman; she lived temperately with
     that glutton, for whom she had to prepare the most exquisite
     dishes, the more credit to her virtue.  And, just as while
     he lived she sought to wean him from his vice, so after his
     death she prayed constantly for him.

	|con suo pianger dirotto~: Her flood of tears.

	|88-89.  Con suoi prieghi... s'aspetta~: Nella's prayers
on Forese's behalf have caused his stay in Antepurgatory to be
shortened.

	|90.  li altri giri~: The lower circles of Purgatory
proper.

	|92.  la vedovella mia~: The suffix -^ella~ is one of
endearment.

	|94.  la Barbagia~: A mountainous district in the central
part of Sardinia (see C. S. Singleton, ^Inferno Commentary~, Map
3, following p. 683), the inhabitants of which are said to have
descended from a settlement of prisoners planted by the Vandals. 
They were proverbial in the Middle Ages, according to the early
commentators, for the laxity of their morals and their loose
living.  Benvenuto says that the women were in the habit of
exposing their breasts: "Pro calore et prava consuetudine vadunt
indutae panno lineo albo, excollatae ita, ut ostendant pectus et
ubera."  ("Because of heat and indecent custom they go clothed in
white linen dresses so low at the collar as to expose their
breasts.")  In Dante's time they formed a semi-savage independent
tribe and refused to acknowledge the Pisan government.  Benvenuto
says they were a remnant left at the time when Sardinia was
reconquered from the Saracens, which, from the mention of
"saracine" (vs. 103), appears to have been Dante's view of their
origin.  See Fazio degli Uberti, ^Dittamondo~ III, xii, 55-63.

	|96.  la Barbagia dov'io la lasciai~: Florence.

	|97.  che vuo' tu ch'io dica?~  Torraca notes that this
form, which is still alive, is generally used to cut off a
conversation in order to get to more important matters.

	|99.  cui~: Dative.

	|100.  in pergamo interdetto~: Torraca comments: "Quando
il cardinale Latino viet@o alle donne di portar vesti con la coda
lunga, `fece predicar questo per le chiese, e l'impose alle donne
sotto precetto; e che nessun sacerdote le potesse assolvere se
non obbedissero': Salimbene."  ("When Cardinal Latino prohibited
women from wearing dresses with a long train, `he had this
preached in the churches and had it imposed upon the women as an
order, and no priest could absolve them if they disobeyed'
[Salimbene].")

	|103.  fuor~ = ^furono.~

	|104.  cui~: Dative.  

	|105.  o spiritali o altre discipline~: The ^Ottimo
Commento~ notes: "E dice, che bisogner@a non solamente il
comandamento del Diocesano, ma ancora che il Comune faccia sua
legge proibitiva."  ("And he says that not only is the diocesan
ruling necessary, but that the commune too must enact a
prohibition.")  Villani has several references (IX, 245; X, 11,
150) to sumptuary laws directed a few years later against what he
calls (IX, 245) "i disordinati ornamenti delle donne di Firenze"
("the excessive adornments of the women of Florence").  In one of
these (X, 150) the extravagant headdresses and girdles alluded to
by Cacciaguida (^Par.~ XV, 100-102) are specifically mentioned:

     Nel detto anno (1330]... essendo le donne di Firenze molto
     trascorse in soperchi ornamenti di corone e ghirlande d'oro
     e d'argento, e di perle e pietre preziose, e reti e
     intrecciatoi di perle, e altri divisati ornamenti di testa
     di grande costo... fu sopra ci@o provveduto... che niuna donna
     non potesse portare nulla corona n@e ghirlanda n@e d'oro n@e
     d'ariento n@e di perle n@e di pietre n@e di seta n@e di
     niuna similitudine di corona n@e di ghirlanda, eziandio di
     carta dipinta, n@e rete n@e trecciere di nulla spezie se non
     semplici... n@e potere portare pi@u di due anella in dito,
     n@e nullo schaggiale n@e cintura di pi@u di dodici spranghe
     d'argento.

     In that year [1330]... because the women of Florence had
     fallen into the habit of adorning themselves extravagantly
     with coronets and garlands of silver and gold, pearls and
     jewels, with nets and braids studded with pearls, and other
     very expensive ornaments devised for the head... it was
     ruled... that women could not wear a coronet or a garland of
     gold, silver, pearls, jewels, or silk, nor anything even
     resembling a coronet or garland, even of colored paper; nor
     could they wear nets or braids of any sort, unless they were
     very simple... nor could they wear more than two rings on
     their fingers, or any kind of belt or girdle that had more
     than twelve silver links.

	|106.  fosser certe~ = ^sapessero.~

	|107.  'l ciel~: The heavens in their turning.  See
^Purg.~ XXIV, 88, where the turning of the heavens is the
instrument of divine vengeance.     |veloce~ = ^velocemente.~ 	
|loro~: Dative, "for them." 	  |ammanna~: Cf. ^Purg.~ XXIX,
49.

	|108.  gi@a per urlare avrian le bocche aperte~: Porena
comments: "`Per urlare' @e causale; quindi `gi@a urlerebbero con le
bocche spalancate.'"  ("`Per urlare' is causal: `they would
already be yelling with their mouths wide open.'") 	|avrian~
= ^avrebbero.~

	|109-111.  se l'antiveder... nanna~: In ^Epist.~ VI, 17,
Dante writes:

     Et si presaga mens mea non fallitur, sic signis veridicis
     sicut inexpugnabilibus argumentis instructa prenuntians,
     urbem diutino merore confectam in manus alienorum tradi
     finaliter, plurima vestri parte seu nece seu captivitate
     deperdita, perpessuri exilium pauci cum fletu cernetis.

     And -- if my presaging mind be not deceived, as it announceth
     that which it hath learned from truth-telling signs, and
     arguments that may not be gainsaid -- your city, worn out
     with long-drawn sufferings, shall be given at last into the
     hands of the aliens, the greatest part of you scattered in
     death and captivity, while the few that are left to endure
     their exile shall look on and weep.

The letter was written in March 1311 to "the most infamous
Florentines."  Dante never saw the prophecy come true in either
case, and just how the dire events to come were to fall upon the
lascivious women of Florence in particular, as a just vengeance
upon their loose ways, is not clear.  Perhaps Forese was deceived
in his "antiveder" after all.  There is a distinct Old Testament
flavor to the prophecy.  Cf. Isa. 3:16-17:

     Et dixit Dominus: Pro eo quod elevatae sunt filiae Sion, et
     ambulaverunt extento collo, et nutibus oculorum ibant et
     plaudebant, ambulabant pedibus suis et composito gradu
     incedebant; decalvabit Dominus verticem filiarum Sion, et
     Dominus crinem earum nudabit.

     And the Lord said: Because the daughters of Sion are
     haughty, and have walked with stretched-out necks and wanton
     glances of their eyes, and made a noise as they walked with
     their feet, and moved in a set pace: The Lord will make bald
     the crown of the head of the daughters of Sion: and the Lord
     will discover their hair.

	|prima fien triste... nanna~: Since the prophecy would
seem to point to an event some fifteen years off, many
commentators think the Guelph defeat at Montecatini on August 29,
1315, is intended, but it is not at all certain that the
reference is to that.

	|fien~ = ^saranno.~

	|colui che~: "Colui che" is the subject of "impeli." 
The women will be sorrowful before he who is now (in 1300)
consoled with a lullaby shall have hair on his cheeks, i.e.,
shall reach puberty.

	|112.  or~: I.e., now that I have satisfied you in your
questions, be pleased to answer mine (vss. 52-53).

	|114.  l@a dove 'l sol veli~: The cause of their wonder
when they first came up to Dante (vss. 20-21).

	|115.  a mente~ = ^a memoria.~

	|116.  qual fosti meco, e qual io teco fui~: I.e., the
kind of life we two led together.

	|117.  fia~ = ^sar@a.~

	|119-120.  l'altr' ier~: "The other day" in the sense of
"a few days ago": five days, in fact.

	|quando tonda... colui~: Cf. the reference to the full
moon over the dark wood in ^Inf.~ XX, 127-129.

	|vi~: The adverb "there." 	|la suora di colui~: The
sister of the Sun (Apollo) is the Moon (Diana).  See ^Purg.~ XX,
130-132.

	|122.  d'i~ = ^dei.~ 	|veri morti~: The dead of Hell,
who endure the "second death" (^Inf.~ I, 117), are the "truly
dead" in their spiritual death.

	|123.  che 'l seconda~ = ^che lo seconda.~  Cf. ^Purg.~
XVI, 33.

	|125.  salendo e rigirando~: Climbing from terrace to
terrace and going round part of a circle in each, hence the
prefix ^ri-.~

	|126.  che drizza voi che 'l mondo fece torti~: The
mountain "straightens" their wills, which were made "crooked" in
the world.  See ^Purg.~ XXVII, 140, where Dante's own will is
declared straight ("dritto") again.

	|127-129.  Tanto dice... rimagna~: Cf. ^Inf.~ I, 112-123;
^Purg.~ VI, 46-48.  "Tanto" goes with the "che" in the following
verse.

	|compagna~ = ^compagnia~ (cf. ^Inf.~ XXVI, 101;
^Purg.~ III, 4).

	|fia~ = ^sar@a.~

	|131-133.  addita'lo~ = ^lo additai.~

	|e quest' altro... sgombra~: Thus Dante answers Forese's
question concerning the two souls ahead (vss. 52-53), but, for
all we are told, Forese feels no surprise at the presence of
Virgil here, nor does Dante even bother to name Statius to him.



